.dashboard-card {
    border-radius: 16px;
    transition: transform .2s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.bg-gradient-primary {
    background: linear-gradient(135deg,#4e73df,#224abe);
}

.bg-gradient-success {
    background: linear-gradient(135deg,#1cc88a,#13855c);
}

.bg-gradient-warning {
    background: linear-gradient(135deg,#f6c23e,#dda20a);
}

.course-card{
    border-radius:16px;
    overflow:hidden;
    transition:.25s;
}

.course-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
}

.course-image{
    height:180px;
    object-fit:cover;
}